body{
    background-color: black;
}

a{
    text-decoration: none;
}

.subhead {
    text-align: center;
    font-family: 'Komika';
}

.icons{
    justify-content: space-evenly;
}

.icons li a{
    color: black;
    font-size: 2em;
}

.row{
    position: relative;
}

.top{
    z-index: 1;
}

.green, .naturae{
    background-color: #62cb62;
}

.yellow, .electro{
    background-color: #cbbd62;
}

.blue, .hydro{
    background-color: #407dbf;
}

.purple, .aether{
    background-color: #9e5bc8;
}

.red, .pyro{
    background-color: #c44f4f;
}

.petra{
    background-color: #b39a41;
}

.glacia{
    background-color: #40a8bf;
}

.green-text, .naturae-text{
    color: #3db449;
}

.yellow-text, .electro-text{
    color: #cbbd62;
}

.blue-text, .hydro-text{
    color: #007bff;
}

.purple-text, .aether-text{
    color: #a248db;
}

.red-text, .pyro-text{
    color: #c44f4f;
}

.glacia-text{
    color:#40a8bf;
}

.petra-text{
    color:#b39a41
}

@font-face {
    font-family: "ActionMan";
    src: url("./fonts/Action-Man/Action_Man_Bold.ttf");
}

@font-face {
    font-family: "ArchRival";
    src: url("./fonts/SF-Arch-Rival/SF_Arch_Rival_Bold.ttf");
}

@font-face {
    font-family: "Komika";
    src: url("./fonts/Komika-Axis/KOMIKAX_.ttf");
}

.actionman{
    font-family: "ActionMan", sans-serif;
    font-size: 2em;
}

.relative{
    position: relative;
}

.comic{
    font-family: "ArchRival", serif;
    font-size: 2em;
    padding:0;
    margin:0;
}

.komic{
    font-family: "Komika", serif;
    font-size: 2em;
    padding:0;
    margin:0;
    position: relative;
    top: -4px;
    text-shadow: 4px 4px 0px rgba(0,0,0,1);
}

.video{
    padding: 73px;
    background-image: url('./vidFrame/bottom.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 55.5% 102%;
}

ul.comic{
    padding: 0 20px;
}

.comic li{
    font-family: "ActionMan";
    font-size: 1em;
    list-style-type: disclosure-closed;
    padding: 15px;
}

.mainbar {
    margin: auto;
    background-color: #373737;
    border-radius: 10px;
    color: white;
    justify-content: space-between;
    margin: 25px 0; 
    padding: 10px 0;
}

.image{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 650px;
    z-index: 1;
}

.image-1{
    background-image: url("./leprecaster/1.png");
}

.image-2{
    background-image: url("./cards.png");
    background-size: contain;
}

.image-3{
    background-image: url("./leprecaster/4.png");
}

.image-4{
    background-image: url("./leprecaster/3.png");
}

.image-5{
    background-image: url("./leprecaster/2.png");
}

.image-6{
    background-image: url("./leprecaster/5.png");
}


.title {
    font-family: "Komika", serif;
    font-size: 0px;
    padding: 0 10px;
    margin: 0;
    color: black;
    text-decoration: none;
    display: inline-block;
    background-image: url('./logomark.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 382px;
    height: 137px;
}

.content {
    background-color: white;
    min-height: 1000px;
    background-repeat: no-repeat;
    background-position-x: 100%;
}

.navbar{
    list-style-type: none;
}

.sidebar{
}

.sidebar ul{
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    background-color: white;
    margin-top: 25px;
    box-shadow: 5px 5px 0px 0px rgb(0 0 0/25%);
    text-align: center;
    font-weight: bold;
}

.sidebar li:first-child{
    color: white;
    padding: 3px 0px;
}

.sidebar li:last-child{
    color: white;
    padding: 10px 0px;
}

.elimage {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .1;
    pointer-events: none;
}

.pyro .elimage{
    background-image: url('./els/El0.png');
}

.naturae .elimage{
    background-image: url('./els/El3.png');
}

.hydro .elimage{
    background-image: url('./els/El1.png');
}

.electro .elimage{
    background-image: url('./els/El2.png');
}

.aether .elimage{
    background-image: url('./els/El4.png');
}

.glacia .elimage{
    background-image: url('./els/El6.png');
}

.petra .elimage{
    background-image: url('./els/El5.png');
}

.naturae a {
    color: darkgreen;
}